[Unit]
Description=Flaschen Taschen Server
After=network.target

[Service]
ExecStart=/usr/local/bin/ft-server -D 64x64 --led-rows=64 --led-columns=64 --layer-timeout 60 --led-gpio-mapping=adafruit-hat --led-brightness=50 
WorkingDirectory=/tmp
Restart=always

[Install]
WantedBy=multi-user.target
