[Unit]
Description=Flaschen Taschen Server
After=network.target

[Service]
ExecStart=/home/kolding/bin/ft-server -D 160x96 --layer-timeout 60 --led-gpio-mapping=adafruit-hat --led-brightness=50 
WorkingDirectory=/home/kolding/
Restart=always
User=noisebridge

[Install]
WantedBy=multi-user.target

sudo ./flaschen-taschen/server/ft-server --led-gpio-mapping=adafruit-hat --led-slowdown-gpio=2 --led-rows=64 --led-cols=64 --led-show-refresh --led-brightness=50 --layer-timeout 60
