[Unit]
Description=LMS Cover Art Display configuration tool
After=ft-server.service

[Service]
ExecStart=/usr/local/bin/lmsconfig --displayconfig /etc/lmsdisplay.conf --pidfiles /run/lmsdisplay.pid /run/lmsremote.pid
WorkingDirectory=/tmp
Restart=always
User=root

[Install]
WantedBy=multi-user.target
