[Unit]
Description=LMS Cover Art Display server
After=ft-server.service

[Service]
ExecStart=/usr/local/bin/lmsdispcontrol --displayconfig /etc/lmsdisplay.conf
WorkingDirectory=/tmp
Restart=always
User=root

[Install]
WantedBy=multi-user.target
