<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>LMS Cover Art Display</title>
    <style>
      .grid-list {
        display: grid; /* Make the ul a grid container */
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
        gap: 16px; /* Space between grid items */
        list-style: none; /* Remove default list bullets/numbers */
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
      }

      .grid-list li {
          /* Optional: Add styling for individual list items */
          /* background-color: lightblue; */
          padding: 5px;
          text-align: left;
          border-radius: 5px;
      }
    #advOptions {
      display: none; /* Hides the section initially */
    }

    </style>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const toggleButton = document.getElementById('toggleButton');
        const advOptions = document.getElementById('advOptions');

        toggleButton.addEventListener('click', function() {
          if (advOptions.style.display === 'none' || advOptions.style.display === '') {
            advOptions.style.display = 'block'; // Shows the section
            toggleButton.textContent = 'Hide Advanced Optins'; // Changes button text
          } else {
            advOptions.style.display = 'none'; // Hides the section
            toggleButton.textContent = 'Show Advanced Optins'; // Changes button text
          }
        });
      });

      function checkAll(chceked) {
        var cbox = document.getElementsByTagName('input');

        for (var i = 0; i < cbox.length; i++) {
          if (cbox[i].type == 'checkbox') {
            if (cbox[i].name == 'my_form_tasks[]') {
                cbox[i].checked = checked;
            }
          }
        }
      }
    </script>
</head>
<body>
   <h1>Welcome to the LMS Cover Art Display Configuration</h1>
   <form method="POST">
      <label for="lmsserver">
        <h2> LMS Server Name (or IP Address) </h2>
      </label>
      <input type="text" id="lmsserver" name="lmsserver" value="{{ presets.get('lmsserver', '')}}">
      <label for="lmsport_http">
        <h3> LMS Server HTTP Port </h3>
      </label>
      <input type="number" id="lmsport_http" name="lmsport_http" min=0 max=65535 step=1 value="{{ presets.get('lmsport_http', '')}}">

      <label for="lmsport_telnet">
        <h3> LMS Telnet Port </h3>
      </label>
      <input type="number" id="lmsport_telnet" name="lmsport_telnet" min=0 max=65535 step=1 value="{{ presets.get('lmsport_telnet', '')}}">

      <label for="player">
        <h2>Select player</h2>
      </label>
      <input type="text" id="player" name="player" value="{{ presets.get('player', '')}}"><br><br>

      <div>
      <label for="transitions">
      <h2>Select transitions to use.</h2></label>
        <fieldset>
          <legend>Transitions: </legend>
            <ul class="grid-list">
            {% for trans in transitions %}
              <li>
                <input type="checkbox" id="{{ trans }}" name="transitions" value="{{ trans }}" {% if trans in presets.get("transitions", []) %} checked {% endif %}>
                <label for="{{ trans }}">{{ trans }} </label>
              </li>
            {% endfor %}
          </ul>
        </fieldset>
      </div>
      <br>

      <label for="color">
       <h2> Color saturation</h2>
      </label>
      <input type="range" id="color" name="color" min=0 max=2 step=.1 value={{ presets.get('color', 1.0) }}>

      <label for="contrast">
       <h2>Contrast enhancement</h2>
      </label>
      <input type="range" id="contrast" name="contrast" min=0 max=2 step=.1 value={{ presets.get('contrast', 1.0) }}>

      <label for="dim">
        <h2>Dimming</h2>
      </label>
      <input type="range", id="dim" name="dim" min=0 max=1 step=.05 value={{ presets.get('dim', 1.0)}}>
      <input type="time", id="dimstart" name="dimstart" value={{ presets.get('dimstart', "0:00")}}>
      <input type="time", id="dimsend" name="dimend" value={{ presets.get('dimend', "0:00")}}>

      <label for="volume">
        <h2>Show a volume bar when volume changes</h2>
      </label>
      <input type="checkbox", id="volume" name="volume" value={{ presets.get('volume', 0) }}>

      <label for="clock">
        <h2>Show clock when paused</h2>
      </label>
      <input type="checkbox", id="clock" name="clock" value={{ presets.get('clock', 0) }}>

      <label for="pausedelay">
        <h3> Delay before showing paused screen (Blank screen, or clock)
      </label>
      <input type="number" id="pausedelay" name="pausedelay" min=0 max=65535 value="{{ presets.get('pausedelay', 0)}}">

      <br>
      <h2> Display Options </h2>

      <label for="displayhost">
        <h3> Display Hostname (Or IP address) </h3>
      </label>
      <input type="text" id="displayhost" name="displayhost" value="{{ presets.get('displayhost', 'localhost')}}">

      <label for="displayport">
        <h3> Display Port (UDP)
      </label>
      <input type="number" id="displayport" name="displayport" min=0 max=65535 value="{{ presets.get('displayport', 1337)}}"><br><br>

      <label for="steps">
         <h3>Number of frames in transitions</h3>
      </label>
      <input type="range" id="steps" name="steps" min=0 max=64 value="{{ presets.get('steps', 20)}}">

      <label for="delay">
         <h3>Delay between frames in transitions, in seconds</h3>
      </label>
      <input type="range" id="delay" name="delay" min=0 max=2 step=0.05 value="{{ presets.get('delay', 0.15)}}"><br><br>

      <input type="hidden" id="pidfile" name="pidfile" value="{{ presets.get('pidfile')}}">

      <input type="submit" value="Submit">
    </form>
</body>
</html>
